<!DOCTYPE html>
<html lang="sv">
<head>
  <title>Ksbygg - Admin</title>
  <%= render 'layouts/partials/meta' %>

  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/partials/shim' %>
</head>
<body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <div id="company-logo">KSBYGG AB</div>

        <%= render 'layouts/partials/admin_navbar' %>
      </div>

      <div id="page-content-wrapper">
        <div class="page-content inset">
          <%= yield %>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
    <div id="login-widget">
      <%= current_user.email %> | <%= link_to 'Logga ut', destroy_user_session_path, method: :delete %>
    </div>
<% end %>


</body>
</html>
