<!DOCTYPE html>
<html lang="sv">
<head>
  <title>Ksbygg</title>
  <%= render 'layouts/partials/meta' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/partials/shim' %>
</head>
<body>

<div id="all-content">

  <%= render 'layouts/partials/navbar' %>

  <div id="main-content" class="container">
    <div class="row">
      <main role="main" class="pull-left col-md-8">
        <!--<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>-->

        <%= yield %>
      </main>
    </div>
  </div>

  <%= render 'layouts/partials/footer' %>

</div>

</body>
</html>
