<!DOCTYPE html>
<html>
<head>
  <title>Ksbygg</title>
  <%= render 'layouts/partials/meta' %>

  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/partials/shim' %>
</head>
<body>

<div id="all-content">

  <%= render 'layouts/partials/navbar' %>

  <div id="main-content">
    <main role="main">
      <%= yield %>
    </main>
  </div>

  <%= render 'layouts/partials/footer' %>

</div>

</body>
</html>
